<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="stylesheet" href="assets/css/style.css"/>
    <title>Journey to the Center of Hawkthorne</title>

    <meta content="Journey to the Center of Hawkthorne" name="title">
    <meta content="2D platformer game based on Community's 'Digital Estate Planning' episode" name="description">
    <meta content="website" property="og:type">
    <meta content="{{ page.url }}" property="og:url">
    <meta content="Journey to the Center of Hawkthorne" property="og:title">
    <meta content="2D platformer game based on Community's 'Digital Estate Planning' episode" property="og:description">
    <meta content="/assets/images/metatag.png" property="og:image">
    <meta content="summary_large_image" property="twitter:card">
    <meta content="{{ page.url }}" property="twitter:url">
    <meta content="Journey to the Center of Hawkthorne" property="twitter:title">
    <meta content="2D platformer game based on Community's 'Digital Estate Planning' episode" property="twitter:description">
    <meta content="/assets/images/metatag.png" property="twitter:image">
    <meta content="Journey to the Center of Hawkthorne" name="application-name">
    <meta content="#20cefa" name="theme-color">

    {% if page.url == "/" or page.url == "/end-tag.html" %}
    <link rel="stylesheet" type="text/css" href="assets/css/love-game.css">
    <script src="assets/js/love-game.js" type="module" defer></script>
    {% endif %}
  </head>
  <body>
    <div class="wrapper {% if page.url == "/" %} index {% endif %}">
      <header>
        <h1><a href="index.html">Journey to the Center of Hawkthorne</a></h1>
      </header>
      <nav>
        <a href="characters.html">Characters</a>
        <a href="sprites.html">Game Sprites</a>
        <a href="soundtrack.html">Soundtrack</a>
        <a href="sfx.html">Sound effects</a>
        <a href="soundtrack-disc2.html">Community Chiptunes</a>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>this project by <a href="https://github.com/hawkthorne">hawkthorne</a> can be found on <a href="https://github.com/hawkthorne/hawkthorne-journey">GitHub</a></p>
      </footer>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-32364586-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
